/.gradle/
/build/
AIDA-YAGO*
/CONLL/
/bin/
/src/main/resources/*
/src/test/resource/*
/res/
/src/test/
/split_subSampleWikiSentencesLinks_0.3/*
/split_subSampleWikiSentencesLinks_0 (copy).3/
/split_subSampleWikiSentencesLinks_0.3/
/log/
/Results/
SVM_TEST.py
Single_SVC
anchorDictionaryOnlyWikipediaUrls
